<div class="col-lg-12" style="margin-top: 8%">
    <div class="container-fluid">

        <!-- 404 Error Text -->
        <div class="text-center">
            <div class="error mx-auto" data-text="403">403</div>
            <p class="lead text-gray-800 mb-5">Yetkisiz Giriş</p>
            <p class="text-gray-500 mb-0">Bu sayfada işlem yapma yetkiniz bulunmamaktadır!</p>
        </div>
    </div>
</div>