@model List<CKBlog.Entity.DbObjects.Article>

<div class="content">
    <ul>
        @foreach (var item in Model)
        {
            <li>
                <a href="Home/Detail/@item.Id">
                    <h5>@item.Title</h5>
                    <span>@item.ModifiedDate.ToString("dd MMMM yyyy")</span>
                </a>
            </li>
        }
    </ul>
</div>