@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<section class="blog-posts">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 pt-5 pb-5" style="background: #1E2124">
                <div class="col-lg-2 ml-5 mr-5 float-left" style="height:250px">
                    <img style="width:100%" src="~/images/74433777_158937731980105_944031969120550981_n.jpg" />
                </div>
                <div class="col-lg-8 float-left" style="height:50px"><h2>Hakkımda</h2></div>
                <div class="col-lg-8 float-left" style="height:200px">
                    <p style="color : white">
                        Merhaba!
                        Bu web sitesinde;
                        Yazılım, Teknoloji ve Uzay alanında ilgimi çeken makaleleri ve yaptığım araştırmaları paylaşıyorum.
                        Aynı zamanda, aktif olarak kodlama ile uğraştığım için aldığım hataları ve bulduğum çözümleri de buraya ekliyorum.
                        Hakkımda daha fazla bilgi için <a href="https://drive.google.com/file/d/154YSsz5-LvI1HYiE2_Gal6vuryqFDIHc/view?usp=sharing" style="color:#3AAA64; font-weight:bold" target="_blank"> bu bağlantıdan</a> CV'me gözatabilirsiniz.
                    </p>
                </div>
                <div class="col-lg-11 float-left" style="height:200px">

                </div>
                @*<div class="col-lg-12 mt-3 float-left" style="border:1px solid red; height:200px">cv'yi indir</div>*@
            </div>
        </div>
    </div>
</section>